// app global css in SCSS form
@charset "utf-8";
/***********************************************************
	01- Common Class : 레이아웃
***********************************************************/
@font-face {
  font-family: 'GmarketSansTTFBold';
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
}

@font-face {
  font-family: 'QwitcherGrypen';
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/QwitcherGrypen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  font-style: normal;
  font-weight: 300;
  src: url('src/assets/fonts/NeoDunggeunmoPro-Regular.woff') format('woff');
}
html {
  font-size: 20px;
}
body {
  font-family: 'GmarketSansTTFBold';
  color: white;
  font-weight: bolder;
}
