.mt-tabs {
  margin-top: 50px;
}

.img-50 {
  width: 50%;
  height: auto;
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 화면 오른쪽에 정렬 */
  position: fixed; /* 고정 위치 */
  top: 110px; /* 상단 여백 */
  right: 20px; /* 오른쪽 여백 */
  padding: auto;
  background: linear-gradient(45deg, rgb(240, 240, 116), pink);
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  z-index: 1000;
}

.location {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.temperature {
  font-size: 48px;
  margin: 20px 0;
}

.description {
  font-size: 22px;
  color: rgb(228, 222, 222);
  margin-bottom: 15px;
}

.parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;

  .lb-text {
    padding: 10px 20px;
    text-align: center;

    .title-text {
      color: white; /* 텍스트 색상 */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 효과 */

      .meal-image {
        transition: opacity 1s ease-in-out;
      }
    }
  }
}

.img-center {
  align-items: center;
  justify-content: center;
  width: 500px;
}

.my-card {
  width: 100%;
  max-width: 350px;
}

.admin-pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  .q-pagination {
    .q-btn {
      &:disabled {
        color: #aaa;
      }
    }
  }
}
